<!--=== Ligne 1 ===-->
<div class="row">

    <!-- Le titre de la page -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="h2 titre-page">Read app info</div>
    </div>
    
    <!-- L'image du centre -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-end p-0">
        <app-photo-centre></app-photo-centre>
    </div>
</div>

<!--=== Ligne 2 ===-->
<div class="row mt-4">
    
    <div class="h4">Presentation</div>
    <p>
        TravelKiosk is an online air ticket shop.<br/>
        Here you can search and find flights, make a reservation, pay for it and check your ticket.<br/>
        The app is essentially a front-end client for the web API of the app "FlischeKlowa".<br/>
        The author of the project is the programmer Joseph B. Apasa.
    </p>

</div>
