<!--=== Ligne 1 ===-->
<div class="row">

    <!-- Le titre de la page -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="h2 titre-page">Read app info</div>
    </div>
    
    <!-- L'image du centre -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-end p-0">
        <app-photo-centre></app-photo-centre>
    </div>
</div>

<!--=== Ligne 2 ===-->
<div class="row mt-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
        Sed non risus.<br/>
        Suspendisse lectus tortor, dignissim sit amet,
        adipiscing nec, ultricies sed, dolor.<br/>
        Cras elementum ultrices diam.<br/>
        Maecenas ligula massa, varius a, semper congue, euismod non, mi.<br/>
        Proin porttitor, orci nec nonummy molestie, enim est eleifend mi,
        non fermentum diam nisl sit amet erat.<br/>
        Duis semper.<br/>
        Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.<br/>
        Pellentesque congue.<br/>
        Ut in risus volutpat libero pharetra tempor.<br/>
        Cras vestibulum bibendum augue.<br/>
        Praesent egestas leo in pede.<br/>
        Praesent blandit odio eu enim.<br/>
        Pellentesque sed dui ut augue blandit sodales.<br/>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Aliquam nibh.<br/>
        Mauris ac mauris sed pede pellentesque fermentum.<br/>
        Maecenas adipiscing ante non diam sodales hendrerit.
    </p>
</div>
