
<div class="container-fluid">

  <!-- ROW B -->
  <div class="row">
    
    <!-- COLUMN B1 (ZONE NAVBAR) -->
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 mt-4 mb-2 p-0">
      
      <!-- Le menu Navbar -->  
      <ul class="nav navbar-nav bg-rougeatre menu-centre">
        <a routerLink="home-route" id="option01Home">
          <li routerLinkActive="active" class="element-menu p-4">HOME</li></a>

        <a routerLink="reservation-route" id="option02Reservation">
          <li routerLinkActive="active" class="element-menu p-4">MY RESERVATION</li></a>

        <a routerLink="ticket-route" id="option03Ticket">
          <li routerLinkActive="active" class="element-menu p-4">MY TICKET</li></a>

        <a routerLink="contact-route" id="option04Contact">
          <li routerLinkActive="active" class="element-menu p-4">CONTACT</li></a>

        <a routerLink="app-info-route" id="option05Info">
          <li routerLinkActive="active" class="element-menu p-4">APP INFO</li></a>
      </ul>
    </div>
    

    <!-- UNE COLONNE VIDE -->
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
    
    
    <!-- ZONE CONTENU PRINCIPAL -->
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 mt-4 mb-2 routeur">
          
      <!-- La balise router_outlet inclut un composant dynamiquement d'apres la route choisie.
      Les routes sont configurees dans app.modules.ts -->
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
