/* -------------------------------------- */
.large300px {
    width:300px;
    border-radius: 5px;
}


.titre-page {
    color: darkOrange;
}


/*
.ng-datepicker {
    background-color: rgb(220, 220, 220);
    border: 1px solid grey;
}


.clef-selection {
    width: 150px;    // 150px c'est la moitié de 300 = la largeur du datepicker //
    text-align: right;
    border-bottom: 1px solid orange;
}


.valeur-selection {
    width: 150px;    // 150px c'est la moitié de 300 = la largeur du datepicker //
    text-align: center;
    border-bottom: 1px solid orange;
}


.zone-selections {
    border-radius: 4px;
}


.gauche0px {
    padding-left: 0px;
}


.zone-choix-numero-vol {
    border: 1px solid lightgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(245, 245, 245);
}


.table-details-vol {
    border-collapse: collapse;
    padding-left: 12px;
    padding-right: 0px;
}

*/


.zone-verif-reservation {
    margin-left: 0px;
    padding-left: 0px;
    border: 1px solid lightgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(245, 245, 245);
}


.zone-input-reservation {
    min-width: 320px;
    padding-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
}


.zone-paiement {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    border: 1px solid lightgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.btn-orangeatre {
    background-color: rgb(255, 180, 120);    /* orangeatre */;
    color: blue;
}


.btn-orange:hover {
    background-color: orange;
}


.zone01 {
    padding: 0px;
}

/*
.gauche0px {
    padding-left: 0px;
}
*/

/*
.btn-verif-reservation {
    padding-left: 0px;
}
*/
