<!--=== Ligne 1 ===-->
<div class="row">

    <!--=== Le titre de la page ====-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="h2 titre-page">Search flights</div>
    </div>
    
    <!--=== L'image du centre ===-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-end p-0">
        <app-photo-centre></app-photo-centre>
    </div>
</div>


<!--=== Ligne 2 ===-->
<div class="row zone-selections mt-4 pt-2 pb-2">

    <!--=== Zone 2A ===-->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 text-center">

        <!-- Le datepicker -->
        <mat-form-field color="accent" class="large300px ng-datepicker">
            <mat-label>Choose a date</mat-label>

            <input matInput [matDatepicker]="picker01"
                (dateInput)="onDatepickerEvent('input', $event)"
                (dateChange)="onDatepickerEvent('change', $event)">
            <mat-hint>DD/MM/YYYY</mat-hint>

            <mat-datepicker-toggle matIconSuffix [for]="picker01">
                </mat-datepicker-toggle>  <!-- L'icone -->
            <mat-datepicker #picker01 ></mat-datepicker>  <!-- Le popup -->
        </mat-form-field>
    </div>

    <!--=== Zone 2B (espace du combobox) ===-->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 zone-choix-pays gauche0px">

        <div class="large300px text-center">Choose a country</div><br/>
        
        <!-- Le combobox -->
        <form class="large300px" (change)="onFlightsCategorySelectionChange($event.target)">
            <select id="paysVols" class="form-select choix-pays">
                <option>PL</option>
                <option>PL_Demo</option>
                <option>DE_Demo</option>
                <option>DE</option>
                <option>FR</option>
            </select>
        </form>
    </div>

    <!--=== Zone 2C (zone d'affichage des valeurs choisies) ===-->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 mt-4 d-flex justify-content-center">

        <table>
            <tr>
                <td class="clef-selection">Selected Date :</td>
                <td class="valeur-selection">{{ date_yyyy_mm_dd }}</td>
            </tr>
            <tr>
                <td class="clef-selection">Selected Category :</td>
                <td class="valeur-selection">{{ code_pays }}</td>
            </tr>
        </table>
    </div>

    <!--=== Zone 2D ===-->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 mt-4 gauche0px">
        <button class="btn btn-primary large300px text-center"
            (click)="afficherVols()">Display flights</button>
    </div>

    <!--=== Zone 2E Vide ===-->
    <div class="col-xs-0 col-sm-0 col-md-10 col-lg-6"></div>

    <!--=== Zone 2F (messages d'erreur & de statut) -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 gauche0px">
        
        <!-- Affichage sur condition avec *ngIf -->
        <div *ngIf="messageWarningDateVide != ''" class="text-orange large300px text-end">
            <i>{{ messageWarningDateVide }}</i></div>
            
        <i>{{ message_statut }}</i><br/>
        <span class="text-danger"><i>{{ message_erreur }}</i></span>
    </div>
</div>


<!--=== Ligne 3 ===-->
<div class="row mt-4 table-vols">

    <h3 class="text-center">AVAILABLE FLIGHTS</h3>
    
    <!-- Lecture en boucle avec ngFor -->
    <table class="table table-striped table-bordered bg-light">
        <thead>
            <tr>
                <th>Time</th>
                <th>Direction</th>
                <th>City</th>
                <th>Flight Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vol of listeVols_dispo">
                <td>{{vol.dateHeure}}</td>
                <td>{{vol.sens}}</td>
                <td>{{vol.ville}}</td>
                <td>{{vol.numeroVol}}</td>
            </tr>
        </tbody>
    </table>
</div>
