/* -------------------------------------- */
.large300px {
    width:300px;
    border-radius: 5px;
}


.titre-page {
    color: darkOrange;
}


.zone-verif-reservation {
    margin-left: 0px;
    padding-left: 0px;
    border: 1px solid lightgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(245, 245, 245);
}


.zone-input-reservation {
    min-width: 320px;
    padding-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
}


.ticket-preview {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px white, 2px 2px grey,
                3px 3px white, 4px 4px grey,
                5px 5px white, 6px 6px grey;    /* les couches d'ombres */
    background-color: rgb(240, 250, 255);    /* bleu faible */
}


.preview-table {
    border-left: 2px solid rgb(180, 220, 255);    /* bleu faible */
    padding-left: 10px;
}


.btn-orangeatre {
    background-color: rgb(255, 180, 120);    /* orangeatre */;
    color: blue;
}


.btn-orange:hover {
    background-color: orange;
}


.gauche0px {
    margin-left: 0px;
    padding-left: 0px;
}
