<!--=== Ligne 1 ===-->
<div class="row">

    <!-- Le titre de la page -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="h2 titre-page">Preview your ticket</div>
    </div>
    
    <!-- L'image du centre -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-end p-0">
        <app-photo-centre></app-photo-centre>
    </div>
</div>


<!--=== Ligne 2 ===-->
<div class="row mt-4 p-0">

     <!--=== Zone 2A ===-->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 text-center">

        <!-- Cet autre div permet d'obtenir une largeur < 100% -->
        <div class="zone-input-reservation">

            <div class="pt-1 pb-3 text-center">Type your reservation number</div>

            <!-- Input box pour le numero de vol fourni -->
            <input type="text" class="form-control-sm border border-secondary large300px"
                    id="inputNumeroVol" placeholder="Reservation number"
                    (change)="onReservationNumberChange($event.target)" />
        </div>
    </div>
    
    <!--=== Zone 2B ===-->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 zone-verif-reservation">

        <div class="p-2"><br/></div>

        <!-- Bouton verif statut d'une reservation -->
        <button class="btn btn-primary large300px"
                    (click)="verifierStatutReservation()">Preview</button>
     </div>
</div>


<!--=== Ligne 3 ===-->
<div class="row">
    
    <!-- Une zone vide -->
    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6"></div>

    <!-- Messages d'erreur & messages de succes -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-2 gauche0px">
        <span class="text-danger"><i>{{ messageErreurNumeroReservationVide }}</i></span>
        <span class="text-danger"><i>{{ messageErreurRecherche }}</i></span>
        <span class="text-success"><i>{{ messageSuccesRecherche }}</i></span>
    </div>
</div>


<!--=== Ligne 4 (L'affichage d'un ticket) ===-->
<div class="row ticket-preview p-2">
    
    <!-- Zone 4A (La table preview affichée à gauche ou en haut) -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 preview-table">
    
        <table class="table table-sm table-bordered-sm">
            <tbody>
                <tr>
                    <td><i>Ticket number</i></td>
                    <td>{{ objetReservationAffichage?.numeroReservation }}</td>
                </tr>

                <tr>
                    <td><i>Moment</i></td>
                    <td>{{ objetReservationAffichage?.dateVol }}</td>
                </tr>

                <tr>
                    <td><i>Flight number</i></td>
                    <td>{{ objetReservationAffichage?.flightNumber }}</td>
                </tr>

                <tr>
                    <td><i>Company</i></td>
                    <td>{{ objetReservationAffichage?.company }}</td>
                </tr>

                <tr>
                    <td><i>Direction</i></td>
                    <td>{{ objetReservationAffichage?.direction }}</td>
                </tr>

                <tr>
                    <td><i>City</i></td>
                    <td>{{ objetReservationAffichage?.city }}</td>
                </tr>

                <tr>
                    <td><i>Country</i></td>
                    <td>{{ objetReservationAffichage?.country }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Zone 4B (La table preview affichée à droite ou en bas) -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 preview-table">

        <table class="table table-sm table-bordered-sm">
            <tbody>
                <tr>
                    <td><i>Name</i></td>
                    <td>{{ objetReservationAffichage?.paxName }}</td>
                </tr>

                <tr>
                    <td><i>Surname</i></td>
                    <td>{{ objetReservationAffichage?.paxSurname }}</td>
                </tr>

                <tr>
                    <td><i>Email address</i></td>
                    <td>{{ objetReservationAffichage?.paxEmailAddress }}</td>
                </tr>

                <tr>
                    <td><i>Travel class</i></td>
                    <td>{{ objetReservationAffichage?.travelClass }}</td>
                </tr>

                <tr>
                    <td><i>Fare</i></td>
                    <td>{{ objetReservationAffichage?.fare }}</td>
                </tr>

                <tr>
                    <td><i>Payment received</i></td>
                    <td>
                        <span class="text-danger" *ngIf="objetReservationAffichage?.isTicketPaid == false">
                            {{ objetReservationAffichage?.isTicketPaid }}
                        </span>
                        <span class="text-success" *ngIf="objetReservationAffichage?.isTicketPaid == true">
                            <b>{{ objetReservationAffichage?.isTicketPaid }}</b>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!--=== Ligne 5 (Le bouton Send by Email) ===-->
<div class="row">

    <!-- Une zone vide -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>

    <!-- La zone du bouton -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4 gauche0px">
        <div class="mb-0">
            <button class="btn large300px btn-orangeatre"
                    (click)="envoyerTicketViaEmail()">Send by email</button>
        </div>

        <!-- Messages d'erreur & messages de succes -->
        <div class="mt-2"><i>
            <span class="text-danger">{{ messageErreurAffichageTicket }}</span>
            <span class="text-success">{{ messageSuccesAffichageTicket }}</span></i>
        </div>
    </div>
</div>
